$MainColorDark: rgba(53, 22, 9, 0.767);
$AccentTextColor: rgb(10, 10, 143);
$DefaultLinkColor: white;
$ActiveLinkColor: red;

$EmphasisLinkColor: rgb(253, 228, 0);
$EmphasisLinkHoverColor: rgb(255, 250, 202);
$EmphasisLinkActiveColor: rgb(255,255,255);

$FooterBGColor: rgb(0, 0, 88);

$TopNavTextColor: white;
$BottomNavTextColor: black;